@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bungee Inline";
  background-color: rgb(0, 128, 128);
}

form {
  background-color: rgb(83, 145, 145);
  padding: 80px;
  width: 50%;
  height: 500px;
  margin: 100px auto;
  text-align: center;
}

.sicaklik {
  font-size: 25px;
}

.sayi {
  border: 2px solid burlywood;
  font-size: 20px;
  padding: 10px;
  height: 40px;
  width: 100px;
  margin-top: 30px;
}

.sayi_deger {
  border: 2px solid burlywood;
  font-size: 15px;
  padding: 10px;
  height: 40px;
  vertical-align: top;
  margin-top: 30px;
}

.veri {
  height: 35px;
  margin: 30px;
  width: 150px;
  font-size: 20px;
  background-color: red;
  color: black;
}

.sonuc {
  font-size: 35px;
  background-color: yellow;
}
